/* .course_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course_box_content img {
    border-radius: 10px;
    width: 350px;
    height: 200px;
}

.course_box_title {
    font-weight: 600;
    color: black;
}

.course_box_price {
    font-size: 20px;
    font-weight: 600;
    color: #F05123;
} */